<div class="container pt-5">
  <h1>Challenges</h1>
  <section class="grid grid-cols-2 gap-4">
    <mat-card>
      <mat-card-content>
        <h2 matCardTitle>C-1</h2>
        <sr-c1></sr-c1>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-content>
        <h2 matCardTitle>C-2</h2>
        <sr-c2></sr-c2>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-content>
        <h2 matCardTitle>C-3</h2>
        <sr-c3></sr-c3>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-content>
        <h2 matCardTitle>C-4</h2>
        <sr-c4></sr-c4>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-content>
        <h2 matCardTitle>C-5</h2>
        <sr-c5></sr-c5>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-content>
        <h2 matCardTitle>C-6</h2>
        <sr-c6></sr-c6>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-content>
        <h2 matCardTitle>C-7</h2>
        <sr-c7></sr-c7>
      </mat-card-content>
    </mat-card>
  </section>
</div>
