<p>c6 works!</p>
<h2>Select Your Seats</h2>

<div class="seating-chart">
  <div *ngFor="let row of [1, 2, 3]" class="row">
    <div
      *ngFor="let seat of seats | filterByRow : row"
      class="seat"
      [class.selected]="seat.selected"
      (click)="selectSeat(seat)"
    >
      {{ row }}-{{ seat.number }}
    </div>
  </div>
</div>

<div class="selected-seats">
  <h3>Selected Seats</h3>
  <ul>
    <li *ngFor="let seat of selectedSeats$ | async">
      {{ seat.row }}-{{ seat.number }}
    </li>
  </ul>
  <p *ngIf="(selectedSeats$ | async)?.length === 0">No seats selected</p>
</div>

<div class="total">
  <h3>Total</h3>
  <p>{{ total$ | async | currency }}</p>
</div>

<button *ngIf="(selectedSeats$ | async)!.length > 0" (click)="buyTickets()">
  Buy Tickets
</button>
