<p>c7 works!</p>
<header
  [ngClass]="{ hidden: !(visible$ | async) }"
  class="sticky-header bg-red-900 text-white"
>
  <!-- header content here -->
  <div class="flex flex-row justify-around">
    <button>1</button>
    <button>2</button>
    <button>3</button>
    <button>4</button>
  </div>
</header>
<div class="flex flex-col">
  <span
    >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi corporis
    ipsam iusto laudantium modi nostrum pariatur quia vitae! Adipisci aspernatur
    dolores esse id ipsam sapiente vel veniam vero? Error, rem.</span
  ><span
    >A, dolorem, incidunt. Amet corporis deleniti facilis illo nemo neque
    officiis praesentium quasi repellat. Accusantium, delectus dicta dolor
    dolorem exercitationem, ipsum libero, modi molestias omnis quod repellat
    sunt tempora temporibus!</span
  ><span
    >At commodi iusto labore laborum magnam nostrum odit possimus reiciendis
    tempore velit. Accusamus deserunt distinctio eveniet expedita, illo, maxime
    nam nostrum, officia quis quod rem repellendus rerum sunt tenetur
    voluptatem!</span
  ><span
    >Adipisci beatae, debitis deserunt distinctio doloremque dolores doloribus
    error exercitationem harum ipsa magni modi molestias, nihil pariatur porro,
    quas qui quidem quos rem reprehenderit saepe sapiente veniam? Aperiam,
    obcaecati quos!</span
  ><span
    >Dolor expedita odit repudiandae soluta suscipit! Dolores doloribus fuga id
    in numquam quis recusandae vero. Adipisci consequatur facilis fugiat
    placeat! Aperiam assumenda autem inventore numquam quam quas saepe tempora
    vitae?</span
  ><span
    >Ad autem, consequatur cumque distinctio dolorum enim expedita facere hic
    ipsum itaque iure magnam magni maxime molestiae optio quam quos repudiandae
    sapiente totam ullam veniam veritatis voluptas voluptatem voluptatibus,
    voluptatum.</span
  ><span
    >Esse et magni minus perferendis veritatis. Ab aperiam id odio possimus
    provident, quam recusandae repudiandae. Atque culpa excepturi exercitationem
    rerum velit. Beatae doloremque eos inventore provident repudiandae unde
    voluptatem. Sequi?</span
  ><span
    >Laudantium, molestias, rem. Culpa, cupiditate delectus dolorum ea facilis
    fuga illo, illum laborum maxime necessitatibus nobis nostrum optio pariatur
    perspiciatis provident quia repellat rerum sapiente sunt, suscipit unde vero
    voluptatibus!</span
  ><span
    >Amet, corporis, sed? Animi architecto consectetur eius excepturi ipsam nam
    nulla numquam quos sequi tempora? Blanditiis consequatur, dolorem eaque
    eligendi eos esse, fugiat mollitia obcaecati placeat, quo rem soluta
    voluptatum.</span
  ><span
    >Ad architecto asperiores culpa deserunt esse et harum inventore iste
    molestias nam neque obcaecati odit porro quaerat quasi, reprehenderit
    repudiandae vero voluptates? Alias asperiores corporis dolore id in
    inventore laudantium!</span
  >
</div>
